.feature {
  display: flex;

  margin: 90px auto;
  
  max-width: 1100px;
}

.feature-notice {
  display: grid;
  justify-content: space-evenly;
  flex: 1;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 40px;
}

.header-notice {
  display: flex;
  justify-content: space-between;
}

.img-featured {
  width: 554px;
  height: 384px;
}

.title-notice {
  color: var(--Main-Red);

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 190%; /* 29.4px */
  letter-spacing: 0.28px;
}

.header-notice .heart{
  width: 18px;
  height: 16px;
}

.btn-heart {
  border: none;
}

.title-notice-new {
  color: var(--Text);

  font-family: IBM Plex Serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.notice {
  color: var(--Text);

  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.date-notice {
  color: var(--Text);

  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.btn-notice {
  text-decoration: none;

  width: 150px;
  height: 36px;
  padding: 7px;
  text-align: center;

  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;

  border-radius: 5px;
  background: #05D465;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.loading {
  margin-top: 40px;
  color: var(--Main-Red);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 107.143% */
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.footer-notice {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}